.form1 {
    position: relative;
    width: 50%;
    height: 350px;
    border: 1px solid black;
    margin: auto;
    box-shadow: 3px 3px 10px gray;
    border-radius: 5px;
    padding: 20px;
}
.form-list input{
    max-width: 100%;
    border-radius: 4px;
    height: 20px;
    background-color: gainsboro;
    border: 0;
}
.form-list{
   display: flex;
   margin-bottom: 10px;

}
.form-item {
    flex: 1;
    margin-top: 5px;
}
.form-main {
    width: 350px;
    margin: auto;
    font-size: 17px;
    font-weight: 500;
}
.button button{
    margin: 10px 100px;
    height: 30px;
    width: 150px;
    background-color: #8c0025;
    color: #ffff;
    border-radius: 5px;
}